html,
body {
  font-family: "Akkurat", Arial, sans-serif;
  margin: 0;

  display: flex;
  flex-direction: column;
}
@font-face {
  font-family: "Akkurat";
  src: url(fonts/Akkurat.ttf);
}
.container {
  max-width: 1004px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background: #fff;
  font-size: 1.2rem;
  margin: 1em 7em 1em 7em;
}
.navbar span {
  margin-right: 1em;
}
.navbar a {
  text-decoration: none;
  color: #00006b;
}
.logo {
  width: 214px;
  display: block;
  margin: 0 auto;
  /* transform: translateX(-50%); */
}
.headerContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-image: linear-gradient(
    180deg,
    rgba(71, 226, 128, 1) 0%,
    rgba(65, 222, 196, 1) 65%,
    rgba(0, 0, 0, 0) 65%,
    rgba(0, 0, 0, 0) 100%
  );

  color: rgb(0, 0, 107);
}
h1 {
  display: block;
  font-size: calc(18px + (16 + 16 * 0.7) * (100vw - 320px) / 1280);
  text-align: center;
  font-weight: 700;
}
h2 {
  font-size: calc(16px + (12 + 12 * 0.7) * (100vw - 320px) / 1280);
}
h3 {
  font-size: calc(14px + (10 + 10 * 0.7) * (100vw - 320px) / 1280);
}
h4 {
  font-size: calc(12px + (4 + 4 * 0.7) * (100vw - 320px) / 1280);
}
p {
  font-size: calc(14px + (10 + 10 * 0.7) * (100vw - 320px) / 1280);
}
h2,
h3 {
  margin: 0;
}
header {
  flex: 0 0 auto;
}
.headerContainer .headerArticle {
  display: block;
  margin: 2% 18% 8% 18%;

  line-height: 1.3em;
  text-align: center;
}
.headerImages {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 4em;
  gap: 2em;
  padding-left: 0;
}

.headerImages img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.headerImages li {
  transition: 0.2s;
  border-radius: 20px;
  overflow: hidden;
}
.headerImages li:hover {
  box-shadow: 0 0.2em 1em rgba(33, 33, 33, 0.2);
  transform: translateY(-1.4%);
}
.cardArticle {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  padding: 0.5em 1em 0 1em;
  color: #fff;
  font-weight: bold;
}
.cardArticle p {
  font-weight: 400;
}
.energyCard,
.houseCard,
.agricultureCard {
  position: relative;
}
main {
  /* flex: 1 0 auto; */
}
.chevron {
  position: absolute;
  bottom: 2em;
  width: 2.7em;
  height: 2.7em;
  border-radius: 20px;
  color: #fff;
  border-color: hsla(0, 0%, 100%, 0.3);
  background-color: inherit;
}
.chevron :hover .cardArticle {
  border-color: white;
}
.services {
  background-color: rgb(230, 242, 245);
  height: 100%;
  padding-bottom: 2em;
}
.serviceChoice {
  display: flex;
  justify-content: center;
  gap: 4em;
  padding-top: 1em;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.8;
  padding-bottom: 3em;
  padding-top: 2em;
}
.serviceChoice li {
  list-style-type: "> ";
}
.serviceChoice ul li a {
  color: rgb(0, 0, 107);
  text-decoration: none;
  border-bottom: 2px solid rgba(0, 0, 107, 0.3);
  transition: 0.2s ease;
}
.serviceChoice a:hover {
  border-bottom: 2px solid #00006b;
}

.serviceChoice ul {
  margin-top: 0;
  margin-bottom: 0;
}
.safetyBtn {
  display: block;
  margin: 0 auto 0 auto;
  line-height: 7em;
  padding: 0 2em 0 7em;
  background: rgb(255, 255, 255);
  border: transparent;
  color: rgb(0, 0, 107);
  border-radius: 0.5em;
}
.safetyBtn:hover {
  cursor: pointer;
}
.iconPlus {
  border: 2px solid rgba(0, 0, 107, 0.3);

  padding: 0.3em 0.4em;
  border-radius: 50%;
  margin-left: 5em;
  transition: all 0.5s ease-in-out;
}
.iconPlus:hover {
  border: 2px solid rgb(0, 0, 107);
}
.iconPlus:active {
  background: rgb(0, 0, 107);
  color: #fff;
}

.mapArticle {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 19em 4em 19em;
  row-gap: 5em;
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.mapArticle li {
  list-style-type: none;
}
.mapSection {
  background-image: url(images/map.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.mapSection button {
  padding: 1em 2em;
  font-size: 1.1em;
  border-radius: 10px;
  border-color: darkgray;
}
.mapSection button:hover {
  border-color: #00006b;
  cursor: pointer;
}
.mapSection a {
  color: #00006b;
  font-weight: bold;
  text-decoration: none;
}
footer {
  flex: 0 0 auto;

  background: rgb(0, 0, 107);
  padding: 3em 8em;
}
/* Dropdown button */
.dropbtn {
  background-color: rgb(0, 0, 107);
  color: white;
  padding: 1em 1.5em;
  font-size: 1em;
  border: 2px solid rgb(158, 196, 217);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.dropbtn:hover {
  cursor: pointer;
}
.dropbtn img {
  width: 1em;
  padding-left: 10em;
}
/* <div> for dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}
/* dropdown itself */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 3.4em;
  overflow: auto;
}
/* Links inside dropdown */
.dropdown-content a {
  color: black;
  padding: 0.2em 0.2em;
  text-decoration: none;
  display: block;
}
/* Color change in dropdown */
.dropdown-content a:hover {
  background-color: #cbe8f7;
}
/* dropdown with hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change btn color when clicked */
.dropdown:hover .dropbtn {
  background-color: white;
  color: #00006b;
}
.socialLinks {
  display: flex;
  justify-content: space-between;
}
.socialLinks h4 {
  color: #fff;
}

.socialLinks ul {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-left: 0;
  padding-left: 0;
  align-items: flex-end;
}
.socialLinks ul li {
  list-style-type: none;
}
.socialLinks img {
  width: 1.5em;
  display: block;
}
.contactsPrivacy a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
}
.contactsPrivacy {
  display: flex;
  align-items: self-end;
}
@media screen and (max-width: 1210px) {
  .mapArticle {
    padding: 1em 12em 1em 12em;
    row-gap: 3em;
    font-size: 1.1em;
  }
}
@media screen and (max-width: 1080px) {
  .safetyBtn {
    line-height: 4em;
    padding: 0 1em 0 5em;
  }
  .serviceChoice {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .mapSection button {
    padding: 0.5em 1em;
  }
}
@media screen and (max-width: 992px) {
  .services {
    padding-bottom: 2em;
  }
  .mapArticle {
    padding: 1em 8em 1em 8em;
    row-gap: 2em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .mapSection a {
    font-size: 0.8em;
  }

  footer {
    padding: 2em 3em;
  }
  .dropdown {
    margin-bottom: 4em;
  }
  .socialLinks {
    display: flex;
    margin-top: -4em;
  }
  .dropbtn img {
    padding-left: 5em;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    margin: 1em 3em;
  }
  .headerContainer .headerArticle {
    margin: 2% 15% 4% 15%;
  }
  .headerImages {
    margin-bottom: 1em;
  }

  .mapArticle {
    padding: 1em 8em 1em 8em;
    row-gap: 1.5em;
  }

  .serviceChoice {
    font-size: 1em;
  }
  .safetyBtn {
    line-height: 4em;
    padding: 0 1em 0 5em;
  }

  .socialLinks {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  .headerImages {
    flex-wrap: wrap;
  }
  .headerImages li {
    width: 40%;
  }
  .headerContainer {
    background-image: linear-gradient(
      180deg,
      rgba(71, 226, 128, 1) 0%,
      rgba(65, 222, 196, 1) 80%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .headerContainer .headerArticle {
    margin: 2% 15% 4% 15%;
  }
  .cardArticle p {
    font-weight: 200;
  }
  .safetyBtn {
    line-height: 3em;
  }
  .iconPlus {
    padding: 0.1em 0.2em;
  }
  .mapArticle {
    padding: 0.5em 3em 0.5em 3em;
    row-gap: 2em;
  }
  .services {
    padding-bottom: 1em;
  }

  .serviceChoice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }
  @media screen and (max-width: 570px) {
    .navbar {
      margin: 0.5em 1em;
    }
    .navbar span {
      margin-right: 0;
    }
    .logo {
      width: 180px;
      padding-left: 15%;
    }
    .safetyBtn {
      padding: 0 0.5em 0 1em;
    }
    .iconPlus {
      margin-left: 1em;
    }
    footer {
      padding: 1em;
    }
    .socialLinks ul {
      display: flex;
      justify-content: center;
    }
    .socialLinks h4 {
      text-align: center;
    }
    .contactsPrivacy {
      display: block;
    }
    .contactsPrivacy ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5em;
    }
    .dropdown {
      display: flex;
      justify-content: center;
    }
    .dropdown-content {
      display: none;
      width: 40%;
    }
  }
  @media screen and (max-width: 450px) {
    .fa-magnifying-glass {
      display: none;
    }
    .logIn {
      display: none;
    }
    .logo {
      padding-left: 0;
    }
    .headerImages li {
      width: 100%;
    }
    .headerImages li {
      display: flex;
      width: 80%;
    }
  }
}
